[Unit]
Description=EarnBox Local API Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/easye35/Raspberry-PI-docker-Earning/dashboard/local-api/api-server.py
WorkingDirectory=/home/easye35/Raspberry-PI-docker-Earning/dashboard/local-api
Restart=always
RestartSec=2
User=easye35
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
