[Unit]
Description=EarnBox Daily Container Reset
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker restart $(/usr/bin/docker ps -q)
User=pi
